* {
  color: #fff;
  font-family: 'Proxima Nova';
}


#game {
  width: 800px;
  height: 600px;
  background-color: #eee;
  position: relative;
}

#blueprint {
  position: absolute;
  right: 80px;
  bottom: 120px;
}

#fire-button {
  position: absolute;
  right: 15px;
  bottom: 15px;
  z-index: 2;
}

#earth {
  position: absolute;
  bottom: 30px;
  left: 30px;
}

#rocket {
  position: absolute;
  bottom: 0px;
  left: 0px;
  font-weight: 900;
  width:150px;
  height:150px;
}

#rocket img {
  -webkit-transform: rotate(45deg);
}

#fuel {
  position: absolute;
  bottom: 115px;
  right: 15px;
  width:150px;
  height:20px;
  background:rgba(0,0,0,0.3);
  z-index: 3;
}

.fuel-gauge {
  height:20px;
  background-color: red;
}

#booster {
  position: absolute;
  bottom: 80px;
  right: 15px;
  z-index: 3;
}

.cell {
  height: 20px;
  background-color: #ffc022;
  float: left;
}


.cell.empty {
  background-color: rgba(0,0,0,0.3);
}

#distance {
  font-weight: 900;
  font-size: 18px;
  position: absolute;
  right: 15px;
  bottom: 150px;
  width: 150px;
}

#doober {
  position: absolute;
  bottom:0px;
  left: 0px;
  font-size:30px;
  font-weight: 900;
  padding-right: 32px;
  display:inline-block;
  background: transparent url('coin-mini.png') no-repeat right top;
  line-height: 1em;
}


#ui-labels {
  margin: 0;
  list-style-type: none;
  font-size: 18px;
  font-weight: 100;
  text-align: right;
  position: absolute;
  bottom: 80px;
  right: 180px;
}

#ui-labels li {
  margin-top: 15px;
}

#coin_ui {
  position: absolute;
  height: 58px;
  width: 200px;
  top: 30px;
  left: 60px;
  font-size: 30px;
  vertical-align: -4px;
  font-weight: 900;
  text-align: left;
}

#blast-off {
  position: absolute;
  right:150px;
  bottom:45px;
}

#loadout {
  position: absolute;
  width: 400px;
  height: 340px;
  top: 130px;
  left: 15px;
}

#loadout .rocket-component {
  float: left;
  width: 400px;
  height: 100px;
  text-align: right;
  margin-bottom: 15px;
  font-weight: 900;
}

#loadout .rocket-component.empty h1, #loadout .rocket-component.empty h2 {
  opacity: 0.5;
}

#loadout .rocket-component * {
  float: right;
  line-height: 1em;
}

#loadout .rocket-component h1 {
  width: 285px;
  font-size: 18px;
  margin: 15px 15px 0 0;
}

#loadout .rocket-component h2 {
  width: 285px;
  font-size: 24px;
  margin: 5px 15px 0 0;
  text-transform: uppercase;
}

#loadout .rocket-component1 {
  float: right;
  width: 400px;
  height: 100px;
  text-align: right;
  font-weight: 900;
}

#store * {
  color: #000;
}

#store .modal-body ul {
  list-style-type: none;
  margin: 0;
}

#store .modal-body ul li {
  margin: 0 0 15px 0;
  padding: 5px;
  border-radius: 6px;
  background-color: #eee;
  cursor: pointer;
}

#store .modal-body ul li:hover {
  background-color: rgba(0, 255, 0, 0.2);
}

.button {
  width:150px;
  height: 50px;
  color: white;
  font-weight: 900;
  text-align: center;
  background-image: url(button.png);
  cursor: pointer;
  font-size: 24px;
  text-transform: uppercase;
  line-height: 2.2em;
}